.form {
  background-color: white;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(83, 79, 79, 0.7);
}

.error {
  background-color: #e3e1db;
  border-radius: 4px;
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 30%;
}

.error p {
  padding-top: 70px;
  padding-left: 20px;
}
.invalid {
  position: absolute;
  margin-top: -17px;
  height: 25%;
  width: 100%;
  background-color: rebeccapurple;
  font-weight: bold;
  padding: 12px 0 0 15px;
  font-style: italic;
}

label {
  display: block;
  padding: 10px 0;
  font-weight: bold;
}

input {
  width: 100%;
  border: 1px solid grey;
  padding: 4px;
}

.age {
  margin-bottom: 15px;
}

button {
  background-color: rebeccapurple;
  padding: 8px;
  border: none;
  color: white;
  cursor: pointer;
}
.button {
  position: relative;
  left: 80%;
  padding: 10px;
}
